DJANGO_SETTINGS_MODULE=ebank.settings
DEBUG=True
ALLOWED_HOSTS=*
SIGNING_KEY_PATH=D:\Courses\INPT\TP\Securite_Web_Mobile\ReBankBackend\jwt_private.key
VERIFYING_KEY_PATH=D:\Courses\INPT\TP\Securite_Web_Mobile\ReBankBackend\jwt_public.key