asgiref
attrs
bcrypt
cffi
crispy-bootstrap5
cryptography
dj-rest-auth
Django>=5.1,<6.0
django-crispy-forms
django-extensions
django-filter
djangorestframework
djangorestframework_simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
pillow
pycparser
PyJWT
PyYAML
referencing
rpds-py
sqlparse
tzdata
uritemplate
