{% extends "layouts/staff.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block page_tile %}
Liste des transactions
{% endblock %}

{% block body %}

<div class="row mb-3 justify-content-end">
    <div class="col-md-12 d-flex justify-content-end">
        <a href="/staff/accounts/list" class="btn btn-dark">Liste Compte Bancaire</a>
    </div>
</div>

<div class="row mb-3">
    <div class="p-4 shadow">
        <table class="table" style="font-size: 0.9rem;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Montant (Dhr)</th>
                    <th scope="col">Balance (Dhr)</th>
                    <th scope="col">Type Transaction</th>
                    <th scope="col">Compte Source</th>
                    <th scope="col">Compte Destination</th>
                    <th scope="col">Date Transaction</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <th scope="row">1</th>
                    <td class="text-end">{{ transaction.amount }}</td>
                    <td class="text-end">{{ transaction.balance_after }}</td>
                    <td>
                        {% if transaction.transaction_type == "DEPOSIT"%}
                        <span class="badge rounded-pill bg-success">DEPÔT</span>
                        {% elif transaction.transaction_type == "TRANSFER" %}
                        <span class="badge rounded-pill bg-primary">TRANSFERT</span>
                        {% else %}
                            <span class="badge rounded-pill bg-warning text-black">RETRAIT</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if transaction.source_account %}
                        {{ transaction.source_account }}
                        {% else %}
                        #
                        {% endif %}
                        
                    </td>
                    <td>
                        {% if transaction.destination_account %}
                        {{ transaction.destination_account }}
                        {% else %}
                        #
                        {% endif %}
                    </td>
                    <td>
                        {{ transaction.created_at|date:"F j, Y, P" }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Pas de transaction(s)</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}