{% extends "layouts/client.html" %}
{%load crispy_forms_tags%}


{% block page_tile %}
Faire un Transfert
{% endblock %}

{% block body %}

<div class="row mb-3">
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}

            <button class="btn btn-md btn-success w-100">Valider</button>
        </form>
    </div>
    <div class="col-md-4 md-offset-1">
        <p>Les transferts ne nécessite pas la présence d'un agent de banque.</p>
    </div>
</div>

{% endblock %}